* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f0f2f5;
}
.navbar {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar__first {
  display: flex;
  align-items: center;
  width: 25%;
}
.navbar__first-logo {
  width: 20%;
}
.navbar__logo {
  font-size: 40px;
  color: #0d8cf1;
}
.navbar__first-search {
  width: 80%;
  position: relative;
}
.navbar__first-searchbar {
  width: 100%;
  padding: 15px 45px;
  border: none;
  background: #f0f2f5;
  border-radius: 30px;
  outline: none;
}
.navar__searchIcon {
  position: absolute;
  left: 20px;
  top: 13px;
  font-size: 22px;
  color: silver;
}

.navbar__middle {
  width: 50%;
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}
.navbar__middle-icons {
  font-size: 25px;
  color: #606770;
  cursor: pointer;
}
.middleIcon {
  display: inline-block;
  position: relative;
}

.navbar__notify {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f1327b;
  top: -13px;
  left: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar__last {
  width: 25%;
  display: flex;
  justify-content: center;
}
.navbar__last-section {
  margin: 0 15px;
  display: flex;
  width: 45px;
  height: 45px;
  background: #f0f2f5;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.facebook {
  display: flex;
  margin-top: 70px;
}
.sidebar {
  width: 25%;
  position: fixed;
  top: 90px;
}
.sidebar__list {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  cursor: pointer;
}
.sidebar__list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar__list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar__list-name {
  margin-left: 12px;
}

.posts {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
.stories {
  width: 100%;
  display: flex;
}
.stories__col {
  width: 25%;
}
.stories__body {
  height: 250px;
  padding: 0 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.stories__body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.stories__body-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.stories__body-overlay-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 20px;
  border: 4px solid #0d8cf1;
}
.stories__body-overlay-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories__body-name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 13px;
}
.create {
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.create__first {
  display: flex;
  width: 100%;
}
.create__first-img {
  width: 20%;
}
.create__first-img span {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.create__first-img span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create__first-input {
  width: 80%;
}
.create__first-inputs {
  width: 100%;
  padding: 15px 20px;
  border: none;
  background: #f0f2f5;
  border-radius: 30px;
  outline: none;
}

.create__second {
  width: 100%;
  border-top: 1px solid #f0f2f5;
  margin-top: 12px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.create__second-icon {
  display: flex;
  align-items: center;
}
.text {
  margin-left: 7px;
}
.redColor {
  color: #e72173;
  font-size: 23px;
}
.greenColor {
  color: #2aec4a;
  font-size: 23px;
}
.orangeColor {
  color: #f8f525;
  font-size: 23px;
}

.show {
  width: 80%;
  margin: 15px auto;
  background: #f0f2f5;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.show__header {
  display: flex;
  align-items: center;
}
.show__header-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.show__header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show__header-name {
  margin-left: 12px;
  font-weight: 600;
}
.date {
  color: silver;
  font-weight: 300;
  font-size: 14px;
}
.show__body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.show__body-text {
  width: 100%;
  margin: 12px 0;
}
.show__body-img img {
  width: 100%;
  height: 100%;
}
.show__reactions {
  border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
}
.reactions {
  display: flex;
  align-items: center;
}
.reactions-text {
  display: inline-block;
  margin-left: 5px;
}
.empty {
  margin: 20px 0;
  padding: 14px;
  background: #fff;
}
.chatBar {
  width: 25%;
  position: fixed;
  top: 100px;
  right: 0;
  overflow-y: scroll;
}
.chatBar__list {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
}
.chatBar__list-img {
  width: 35px;
  height: 35px;
  position: relative;
}
.status {
  display: block;
  width: 10px;
  height: 10px;
  background: green;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  right: 0;
  border: 1.4px solid #f0f2f5;
}
.chatBar__list-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.chatBar__list-name {
  margin-left: 10px;
  font-weight: 600;
}
.chat {
  position: fixed;
  bottom: 0;
  right: 20%;
  height: 450px;
  min-height: 450px;
  max-height: 450px;
  background: #ffffff;
  width: 330px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat__header {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #f0f2f5;
}
.chat__first {
  width: 50%;
  display: flex;
  align-items: center;
}
.chat__header-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.chat__header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat__header-name {
  margin-left: 6px;
  font-weight: 600;
}
.chat__second {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.chat__header-icons {
  margin: 10px 5px;
  color: silver;
  cursor: pointer;
}
.chat__body {
  padding: 14px;
  font-size: 14px;
}
.chat__left {
  display: flex;
  justify-content: flex-start;
}
.chat__left p {
  display: inline-block;
  background: #f0f2f5;
  padding: 7px;
  color: #333;
  border-radius: 6px;
  margin-top: 6px;
}
.chat__right {
  display: flex;
  justify-content: flex-end;
}
.chat__right p {
  display: inline-block;
  background: #0d8cf1;
  padding: 7px;
  color: #fff;
  border-radius: 6px;
  margin-top: 6px;
}
.chat__footer {
  position: fixed;
  bottom: 0px;
  width: 400px;
}
.chat__input {
  width: 330px;
  border: none;
  background: #f0f2f5;
  outline: none;
  padding: 15px 13px;
}
